<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between items-center">
    <a class="f4 fw4 hover-white white-70 dn dib-ns pv2 ph3 no-underline" href="{{ .Site.Home.RelPermalink }}">
      &copy; {{ .Site.Title }} {{ now.Format "2006" }}
    </a>
    {{ with .Site.Menus.footer }}
      <ul class="pl0 ma0">
        {{ range . }}
          <li class="list f5 fw4 dib ph3">
            <a class="hover-white white-90 no-underline" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</footer>
